<!-- <p>inserir-pessoa works!</p> -->


<div class="container">

  <h4>Inserir Pessoa</h4>

  <hr>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nomecompleto">Nome Completo</label>
        <input type="text" class="form-control" id="nomecompleto">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group col-md-6">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf">
      </div>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input type="text" class="form-control" id="endereco" placeholder="Rua Vasconcelos, 152">
    </div>


    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>

      <div class="col-sm-6">

        <button type="submit" class="btn btn-secondary float-right" routerLink="">Voltar</button>

      </div>
    </div>

  </form>

</div>

