
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="m-2">Título</h4>
    </div>
    <div class="col-sm-6">

      <lib-botao-adicionar></lib-botao-adicionar>

    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Nome Completo</th>
        <th scope="col">Endereço</th>
        <th scope="col">Email</th>
        <th scope="col">CPF</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Omar Cerqueira</td>
        <td>Rua Jorge Simões</td>
        <td>omar@cerqueira.com.br</td>
        <td>123.456.789-52</td>
        <td class="text-center">

          <lib-icone-editar></lib-icone-editar>



          <lib-icone-excluir></lib-icone-excluir>

        </td>
      </tr>
      <tr>
        <td scope="row">Rafael Oliveira</td>
        <td>Rua Dendezeiro</td>
        <td>rafael@cerqueira.com.br</td>
        <td>456.256.213.-56</td>
        <td class="text-center">

          <lib-icone-editar></lib-icone-editar>



          <lib-icone-excluir></lib-icone-excluir>

        </td>
      </tr>
      <tr>
        <td scope="row">Lucas Santana</td>
        <td>Rua Imperatriz</td>
        <td>lucas@cerqueira.com.br</td>
        <td>546.365.152-87</td>
        <td class="text-center">

          <lib-icone-editar></lib-icone-editar>



          <lib-icone-excluir></lib-icone-excluir>

        </td>
      </tr>
    </tbody>
  </table>
</div>
